.title{display:flex; justify-content: space-between; color: orange; font-weight: 700;}
.name1{color: orange;}
span{color: chocolate;}



.second{background-image: url(image/prank.jpg); background-repeat: no-repeat; background-size: 1400px; display: flex; height: 600px;
margin-left: 150px;
}

.left{color: aliceblue;}



.likes-section {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 10px;
  }
  
  .likes {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .like-button {
    color: rgb(255, 127, 80);
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;}

.review{display: flex; justify-content: space-between; width: 90%;
background-color: rgb(89, 89, 122); margin-left: 8%; margin-right:10% ;}
.checked {
    color: orange}
  #comment-box, #post {
      border: none;
      border-radius: 5px;
  }
  #post:hover{
      background-color: darkred;
  }

  .wrapper{margin: 200px 15%;
           width: 70%;
           height: 300px;
           display: grid;
           grid-template-columns: 1.5fr 1.5fr 2fr;
           background: #3accfd;
           box-shadow: 12px 12px 24px skyblue,
                        -12px -12px 24px #4affff;
            border-radius: 30px  ;
  }
  .like, .dislike, .subscribe{
    display: grid;
    place-items: center;
  }

  .icon{margin-top: 70px;
        font-size: 80px;
        color: #0086b3;
        cursor: pointer;
        text-shadow: 5px 8px 15px #2a93b6;
        transition: 2 s;
  }

.icon:hover{color: #ba0015;
            transform: scale(1.2);
 } 

 input#text {
  margin-top: -100px;
  margin-left: 15px;
  width: 100%;
  border: none;
  outline:none;
  text-align: center;
  background: none;
  font-size: 30px;
  font-weight: 800;
  pointer-events: none;
  color: black;
  text-shadow: 2px 2px 3px white;
 }

 #post{
  background: #0086b3;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ececec;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 35px;
  box-shadow: 12px 12px 24px skyblue,
  -12px -12px 24px #4affff;
 } 


    .contact{text-align: center;}